.main {
    width: 100%;
}


.bi-wallet-fill {
    font-size: 100px;
}

.wallet {
    width: 100px;
    height: 100px;
    object-fit: contain;
}


.li-btn {
    background-color: rgb(211, 211, 247);
}


.text-in-list {
    color:brown;
}



.li-income {
    display: flex;
    justify-content: space-between;
}

.boxButtons {
    display: flex;
    justify-content:flex-end;
    gap: 10px;
}

.display-none {
   display: none; 
}



/* .text-in-lis {
    width: 50%;
} */

/* .unordered-list {
    display: flex;
    justify-content: space-between;
} */

/* .li-btn {
    display: flex;
    justify-content: space-between;
} */