* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgb(90, 173, 233);
}

/* body {
  background-color: rgb(236, 233, 0);
} */

.main {
  width: 100%;
}

html {
  background-color: rgb(10, 113, 187);
}

body {
  background-color: rgb(10, 113, 187);
}

.bi-wallet-fill {
  font-size: 100px;
}

.wallet {
  width: 150px;
  height: 150px;
  object-fit: contain;
  border: 1px solid white;
  border-radius: 50%;
}

.text-center {
  font-size: 2rem;
}

#income-form,
#expense-form {
  margin: 0;
}

.li-income {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.boxButtons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.display-none {
  display: none;
}

.item-name-value {
  padding: 0 40px;
}

.btn {
  width: 70px;
}

.edit-btn,
.delete-btn,
.save-btn,
.cancel-btn {
  margin: 5px;
}

.item-name {
  width: 40%;
  /* word-wrap: break-word; */
}

.text-center {
  height: 7rem;
  display: inline-block;
  text-align: center;
}

#sum-income,
#sum-expense {
  font-weight: 700;
  position: absolute;
  bottom: 1rem;
}

.relative-position {
  position: relative;
}

#un-list-in {
  /* margin: 0; */
  padding: 0;
}

/* .unordered-list {
  margin: 0;
} */

.alert {
  color: red;
}
